.app {
  text-align: center;
  background-color: white;
  max-width: 1200px;
}

.app-header {
  height: 40px;
  padding-top: 20px;
  font-size: 24px;
  color: #00a6ff;
}

.search-bar {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.Dropdown-root {
  width: 200px;
}

.input-container {
  width: calc(100% - 180px);
}

.input-container input {
  width: calc(100% - 10px);
  line-height: 30px;
  font-size: 18px;
}

.result-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.show-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
  max-width: 200px;
}

.show-title {
  padding: 2px;
  margin-bottom: 2px;
  color: #00a6ff;
  font-size: 16px;
  font-weight: bold;
}

.card-contents {
  display: flex;
  flex-direction: row;
  font-size: 13px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 120px;
}

.info span {
  display: block;
  margin-bottom: 5px;
}
